**/classes
**/target
.cpcache/
.nrepl-port
bases/srv/resources/public/js/jquery.js
bases/srv/resources/public/js/uikit-icons.js
bases/srv/resources/public/js/uikit.js
bases/srv/resources/public/css/uikit.css
docs